@using Steam.Models;
@{
    ViewBag.Title = "Cart";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>This is an overview of all the game that are in your shoping cart.</p>
<div>
    @foreach (GameModel games in Model)
    {
        <a href="@Url.Action("Remove", "Home", new {id = games.id})">@games.title</a>
        <br>
    }
    <a href="@Url.Action("Buy", "Home")">Click here to buy the games</a>
</div>
